.header {
    padding: 60px;
    text-align: center;
    background: #ffffff;
    color: black;
    font-size: 30px;
    background-image: url('flowers.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
body {
    background-color:black
}
h1 {
    color: #ffffff; 
    font-family:Arial, Helvetica, sans-serif; 
    text-align: left;
    font-size: 200%;
    margin-left: 10%;
    margin-right: 10%;
}
h2 {
    color: #000; 
    font-family:Arial, Helvetica, sans-serif; 
    text-align: center;
    font-size: 300%;
    border: 2px solid #000;
    padding: 100px; /* defines the padding for the border*/
    margin: 50px; /* defines the margine outside the border */
}
p {
    color: #ffffff; 
    font-family:Arial, Helvetica, sans-serif; 
    text-align: left;
    font-size: 100%;
    margin-left: 10%;
    margin-right: 10%;
}
a {
    color: #656afa; 
    font-family:Arial, Helvetica, sans-serif; 
    text-align: left;
    font-size: 100%;
    margin-left: 10%;
    margin-right: 10%;
}